{% extends 'base.html' %}
{% load static %}

	{% block content %}
	<div>
		<a href="{% url 'hapus'%}" >
			<button class ="btn" type="submit" style="margin-bottom: 3vw">Delete Schedules</button>
		</a>
		{% for result in apagitu2 %}
		<div class="kotak">
			<article id="course-name">Nama Kegiatan : {{result.name}}</article>
			<article id="course-name">Hari : {{result.day}}</article>
			<article id="course-name">Tanggal Kegiatan : {{result.date}}</article>
			<article id="course-name">Waktu Kegiatan : {{result.time}}</article>
			<article id="course-name">Tempat Kegiatan : {{result.place}}</article>
			<article id="course-name">Kategori Kegiatan : {{result.categories}}</article>
			<p> </p>
		</div>
		{% endfor %}
	</div>
	{% endblock %}
