{% extends 'base.html' %}
{% load static %}

	{% block content %}
  <a href="/mysite/apagitu">
  <button class ="btn" type="submit" style="margin-bottom: 2vw; margin-left: 75vw; margin-top: 2vw">Check Schedules</button>
  </a>
  <p class="slo">
  </p>
  <form action="/mysite/Test3" method="POST">
  <div style="background-color: white" class="container">
    <h1>Schedules</h1>
    <p>Please fill in this form to add a schedules</p>
    <hr>
    {% csrf_token %}
    {{ form }}

    <button style="margin-bottom: 3vw" type="submit" value="Submit" class="registerbtn">Submit</button>
      
    
    
  </div>
  </form>

  {% endblock %}
