{% extends 'base.html' %}
{% load static %}

	{% block content %}
  <p class="slo">
  </p>
  <form >
  <div style="background-color: white" class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="Nama"><b>Nama</b></label><br>
    <input type="text" placeholder="Enter Name" name="name" required>
    <br>

    <br><label for="Tanggal Lahir"><b>Tanggal Lahir</b></label><br>
    <input type="text" placeholder="hari - bulan - tahun" name="date" required>
    <br>

    <br><label for="email"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br>

    <br><label for="Username"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" name="id" required>
    <br>

    <br><label for="psw"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>

    <br><label for="psw-repeat"><b>Password Confirmation</b></label><br>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <hr>

    <button type="submit" class="registerbtn">Register</button>
  </div>
  {% endblock %}